html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }
.h1, h1 {
  text-align: center;
  
}



.container, .container-lg, .container-md, .container-sm, .container-xl {
  height: 100%;
  display: table;
  table-layout: auto;

  width: 100%;
    margin-top: -50px;
  padding: 50px 0 0 0;
  box-sizing: border-box;
}
.col-8 {
  background-size: 66%;
  padding-top:50px;
  padding-bottom: 50%;
  margin-bottom: -50%;
}
td {
	border:  2px solid #333;
	height:  90px;
	width:  90px;
	text-align:  center;
	vertical-align:  middle;
	font-family:  "Comic Sans MS", cursive, sans-serif;
	font-size:  70px;
	cursor: pointer;
}

table {
	border-collapse: collapse;
	position: fixed;
	left:65%;
	margin-left: -100px;
	top: auto;
}

table tr:first-child td {
	border-top: 0;
}

table tr:last-child td {
	border-bottom: 0;
}

table tr td:first-child {
	border-left: 0;
}

table tr td:last-child {
	border-right: 0;
}